<form [formGroup]="form" (ngSubmit)="submitForm()">
    <h3>Lugar de Nacimiento</h3>
    <mat-form-field appearance="fill">
      <mat-label>País</mat-label>
      <mat-select formControlName="pais">
        <mat-option *ngFor="let pais of paises" [value]="pais">{{ pais }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento" />
    </mat-form-field>
  
    <button mat-button type="submit" [disabled]="!form.valid">Guardar</button>
  </form>
  